---
  - include_vars: vnc-users.yaml

## Install TigerVNC, firefox, metacity
  - name: Install VNC, firefox, metacity 
    yum:
      name:
        - tigervnc-server
        - firefox
        - metacity
        - xterm
      state: present
    tags: install

  - name: Create a new systemd unit
    shell: cp /lib/systemd/system/vncserver@.service /etc/systemd/system/vncserver@:{{ item.displaynumber }}.service
    with_items: '{{vncusers}}'

  - name: Replace USER with username
    shell: sed -i 's/<USER>/{{ item.username }}/' /etc/systemd/system/vncserver@:{{ item.displaynumber }}.service
    with_items: '{{vncusers}}'

  - name: Reload systemd
    shell: systemctl daemon-reload

  - name: start service
    service: name=vncserver@:{{ item.displaynumber }}.service state=started enabled=yes
    with_items: '{{vncusers}}'

  - name: Create ~/Desktop directory
    shell: mkdir /home/{{ item.username }}/Desktop
    with_items: '{{vncusers}}'
    tags: mkdirdesktop

  - name: Create ~/.vnc directory
    shell: mkdir /home/{{ item.username }}/.vnc
    with_items: '{{vncusers}}'
    tags: mkdirdesktop

  - name: Update persmissions
    shell: chown -R {{ item.username }}:{{ item.group }} /home/{{ item.username }}
    with_items: '{{vncusers}}'

  - name: Copy xstartup
    copy:
      src: /home/ec2-user/ansible2021/vnc-setup/files/xstartup
      dest: /home/{{ item.username }}/.vnc/xstartup
      mode: '0755'
    with_items: '{{vncusers}}'

  - name: Copy vnc passwd file
    copy:
      src: /home/ec2-user/ansible2021/vnc-setup/files/passwd
      dest: /home/{{ item.username }}/.vnc/passwd
      mode: '0600'
    with_items: '{{vncusers}}'

  - name: Update persmissions vnc folder
    shell: chown -R {{ item.username }}:{{ item.group }} /home/{{ item.username }}/.vnc
    with_items: '{{vncusers}}'

  - name: Chmod xstartup
    shell: chmod 755 /home/{{ item.username }}/.vnc/xstartup
    with_items: '{{vncusers}}'

